<!DOCTYPE html>
<html lang="en">
	
  <head>
    <title>
      Salesforce Lightnig Out Demo 
	   
    </title>
  </head>
  <body>

	<div id="lexcontainer"> 
	</div>
  
         
  </body>
  <script src="https://waseemcom-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
  <script type="text/javascript" src="lib/jquery.js">  </script>
  <script type="text/javascript" src="lib/jqueryCookies.js"> </script>   

<script> 

 // Transform the URL for Lightning
 setupLightning(function() {
		$Lightning.createComponent("c:LightningOutTestComp", 
									{ 
									
									},                  // attributes to set on the component when created
									"lexcontainer",   // the DOM location to insert the component
										function(component) {
										console.log('createdComponent');
                    // callback when component is created and active on the page
									}
            );
    });
		
function setupLightning(callback) {
	    // Transform the URL for Lightning
		var Token = $.cookie("AccToken");
	    var url = $.cookie("InstURL");
		url = url.replace("my.salesforce", "lightning.force");

	    $Lightning.use("c:LightningOutTestApp", 
	        function() {				
				
					callback();
				
	        }, url, Token);
	
}

    

			

</script>

 <style type="text/css"> 
 
     html,body{width:100%;height:100%;} 
	 
	.slds-scope:not(html), .slds-scope body, .slds-media__body, .forceChatterStyle .cuf-preamble, .cuf-subPreamble .slds-text-body--small, .slds-post__footer {
		font-size: 1.0rem !important; 
	}	 
 </style>
</html> 
